<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.css"/>
	<title>{{title}}</title>
</head>
<body>
	<h1 align="center">We Make Pizza</h1>
	<div class="navbar">
		<ul align="center" class="navlist">
			<li class="navli"><a class="navitem" href="/">Home</a></li>
			<li class="navli"><a class="navitem" href="/menu">Menu</a></li>
			<li class="navli"><a class="navitem" href="/directions">Directions</a></li>
			<li class="navli"><a class="navitem" href="/events">Events</a></li>
		</ul>
	</div>
	
	{{{body}}}
</body>
</html>