<h2>Directions</h2>
<p style="width:1200px">
    We are conveniently located in the parking lot of an Office Depot in Seattle, WA. For those of you flying in to visit us, we have
    provided directions from SEA airport to our business 

    <a href="https://www.google.com/maps/dir/SeaTac+International+Airport+(SEA)+Departures,+SeaTac,+WA/Office+Depot,+1751+Airport+Way+S,+Seattle,+WA+98134/@47.5800584,-122.3158434,14.75z/am=t/data=!4m14!4m13!1m5!1m1!1s0x54905caa23a12ccb:0x19e4f4eae3a01bc2!2m2!1d-122.3016399!2d47.443535!1m5!1m1!1s0x54906a9b041a1825:0xc87aef60b4c3dc81!2m2!1d-122.322975!2d47.586456!3e0">
    here.</a>

    Alternatively you can download a pdf of these directions for offline use.

    <form method="get" action="/files/directions.pdf">
        <button type="submit" id="download">Download directions</button>
    </form>
</p>
<p>
    Please write to us with other places you made need directions from.

    <form method="post" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">
        <label>Location: </label>
        <input type="text" name="location"></input>
        <button type="submit">Submit</button>
    </form>
</p>
<p>
    Additionally, please subscribe to our mailing list so you can be updated with our new location when
    we are kicked out of the Office Depot parking lot.
    <form method="post" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">
        <label>Email: </label>
        <input type="text" name="email"></input>
        <button type="submit">Submit</button>
    </form>
</p>