<h2>Events</h2>
<p>We are able to host all sorts of events.  Check out the list below.</p>
<ul>
    <li>
        <h3>Pool Parties</h3>
        <p>
            Our site features a pool so that you can simultaneously enjoy pizza 
            and a pool.  Check out this video of an actual pool party we hosted.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/S2HqTeyXt9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <h3>Business Conferences</h3>
        <p>
            We can host business conferences of up to 100 people.  Check out this
            meeting featuring our pizza.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pU8prtJUwHk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <h3>Late Night Talk Shows</h3>
        <p>
            We are able to work with talk shows.  Check out this sketch we did with James Corden.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pmcKeI9UO3A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
</ul>