<h2>Menu</h2>
<h6>(No substitutions)</h6>
<ul>
    <li>
        <h3>Cheese Pizza</h3>
        <p class="menuitem">kroger pizza dough, kroger pizza sauce, kroger parmesan cheese</p>
    </li>
    <li>
        <h3>Pepperoni Pizza</h3>
        <p class="menuitem">kroger pizza dough, kroger pizza sauce, kroger parmesan cheese, armour pepperoni slices</p>
    </li>
    <li>
        <h3>Sausage Pizza</h3>
        <p class="menuitem">kroger pizza dough, kroger pizza sauce, kroger parmesan cheese, johnsonville mild italian sausage</p>
    </li>
</ul>



